:root {
  /* background: #000; */
  --main-bg-color-light: #fff;
  --main_bg_color_dark: rgba(70, 70, 70, 125);
  --secondary_bg_color_dark: rgb(42, 42, 42);
  min-height: 100%;
  position: relative;
  --display-about: none;
}

html {
  /* background: black; */
  /* background: var(--main_bg_color_dark); */
}

@media (min-width: 1150px) {
  .plan-card {
    max-width: 50%;
  }
}

body,
* {
  font-family: "Ubuntu Sans", sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, "Inter", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.tree {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tree ul {
  margin-left: 20px;
}

summary::-webkit-details-marker {
  display: none;
}

summary {
  cursor: pointer;
}

details > summary {
  list-style-type: "▶";
}

details[open] > summary {
  list-style-type: "🔽";
}

details {
  width: fit-content;
  padding: 2px 0.5rem;
}

details[open] > summary {
  margin-bottom: 0.5rem;
}

