/* Page paramètres projet */

.accordionControlClassnames {
  border-bottom: none;
  transition: border-bottom 0.3s ease;
}

.accordionControlClassnames.active {
  border-bottom: solid 1px #fff;
}

.chevron {
  &[data-rotate] {
    transform: rotate(45deg);
  }
}

.icon {
  width: 16px;
  height: 16px;
}

.content {
  margin: 0 0 5px 0;
  padding: 0;
}

summary {
  background-color: rgba(0, 0, 0, 0);
}

.item {
  margin: 0;
  /* margin-bottom: 5px; */
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
}
.control > span {
  margin: 0 5px;
  padding: 3px 0;
  max-height: fit-content;
  /* background-color: brown; */
}

